.listagem {
  background-color: #fff;
  padding: 1rem;
  text-align: justify;
  width: 100%;
  height: 8rem;
  margin: 0 auto;
  border-radius: 18px;
  border: 1px solid #dee2e6;
  margin-top: 0.5rem;



  h1 {
    color: #434343;
    font-size: 1rem;
    text-transform: capitalize;

    b{
      color:#600F12;
    }
  }
}
