*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  display: flex;

  main {
    flex: 1;
    height: 100vh;
  }
}

.App {
  font-family: sans-serif;
  color: #434343;
  padding: 3rem;
  height: 100vh;
  overflow-y: scroll;


  h1 {
    font-size: 2rem;
    color: #600F12;
    margin-top: 8rem;
  }
}

.stepsForm {
  background: #fff;
  padding: 0;
  display: block;
  margin: 2rem auto;
  border-radius: 18px;
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  max-width: 100%;
  position: relative;
  overflow: hidden;

  p {
    font-size: 1.5rem;
    text-align: center;
  }
}

.fieldsContainer {
  padding: 24px 24px 40px;
  width: 100%;
}

.field {
  margin-bottom: 16px;
}

.field label {
  font-size: 1em;
  line-height: 1em;
}

.field input {
  border-radius: 4px;
  border: 1px solid #ccc;
  max-width: 100%;
  width: 100%;
  height: 48px;
  padding: 8px;
  font-size: 14px;
  color: #666;
}

.buttonSubmit {
  background: #600F12;
  border: 0;
  color: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 16px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
