.pesquisa {
  background-color: #e5e5e5;
  height: 5rem;
  text-align: center;

  input {
    height: 3.5rem;
    text-align: center;
    margin: 1rem 0;
    border-radius: 1rem;
    border: 0.1rem solid #228635;
    margin-left: 6rem;
  }

  button {
    width: 5rem;
    height: 3.5rem;
    background-color: #228635;
    border: none;
    border-radius: 1rem;
    color: #fff;
    margin: 1rem;
    margin-right: 6rem;
  }
}
