.wrapper {
  display: flex;

  main {
    flex: 1;
    height: 100vh;
  }
}

.homeContainer {
  padding-top: 10rem;
  height: 100vh;
  overflow-y: scroll;
  text-align: center;

  .titulo {
    padding-top: 6rem;
    color: #600f12;
    font-weight: bold;
    font-size: 3rem !important;
  }

  .menu {
    margin: 0 auto;

    padding: 5rem 7.5rem;

    .itemMenu {
      width: 15rem;
      cursor: pointer;

      div {
        background-color: #8f2e2d !important;

        h4,
        h5 {
          margin: 0.2rem;
          text-align: center !important;
          color: #fff;
        }
      }
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #434343;
  }

  .logo {
    width: 30rem;
    padding: 3rem;
  }
}
