.wrapper {
  display: flex;

  main {
    flex: 1;
    height: 100vh;
    background-color: #e5e5e5;
    cursor: pointer;
  }
}

.ModalConfirmar {
  width: 30rem !important;

  .titulo {
    color: #fff !important;
    font-weight: bold;
    background-color: #ef5350 !important;
  }

  h4 {
    text-align: center !important;
    color: #434343;
  }

  .confirmar {
    text-align: center !important;
    margin: 0 auto !important;

    .btnSim {
      border: 1px solid #ef5350;
      border-radius: 0.5rem;
      color: #ef5350;
      font-weight: bold;
      width: 10rem;

      &:hover {
        background-color: #ef5350;
        color: #fff;
      }
    }

    .btnNao {
      border: 1px solid #434343;
      border-radius: 0.5rem;
      color: #434343;
      font-weight: bold;
      width: 10rem;

      &:hover {
        background-color: #434343;
        color: #fff;
      }
    }
  }
}

.Modal {

  .buttonExcluir {
    background-color: #fff;
    border: none;
    width: 70%;
    padding: 3px;
    outline: none;
    cursor: pointer;

    img {
      margin-bottom: 0.8rem;

      width: 110%;
    }
  }

  .atualizar {
    text-align: center;
    margin-bottom: 1rem;

    Button {
      border: 1px solid #600F12;
      border-radius: 1rem;
      color: #600F12;
      font-weight: bold;

      &:hover {
        background-color: #600F12;
        color: #fff;
      }
    }
  }

  .stepsForm {
    background: #fff;
    padding: 1rem;
    display: block;
    margin: 0.2rem auto;
    border-radius: 18px;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    max-width: 100%;
    position: relative;
    overflow: hidden;

    .fieldsProjetos {
      padding-top: 1rem;
    }


    .field {
      p {
        font-size: 1rem;
        font-weight: bold;
      }
    }

    input {
      border-radius: 4px;
      border: 1px solid #ccc;
      max-width: 100%;
      width: 100%;
      height: 35px;
      padding: 8px;
      font-size: 14px;
      color: #666;
    }

    label {
      font-size: 1em;
      line-height: 1em;
      color: #600F12;
      font-weight: bold;
    }

    p {
      color: #666;
    }

    Select {
      border-radius: 4px;
      border: 1px solid #ccc;
      max-width: 100%;
      width: 100%;
      height: 35px;
      padding: 8px;
      font-size: 13px;
      color: #666;
    }

    .buttonSubmit {
      background: #600F12;
      border: 0;
      color: #fff;
      border-radius: 8px;
      width: 100%;
      padding: 16px;
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
    }

    .buttonExcluir {
      background-color: #fff;
      border: none;
      width: 80%;
      padding: 5px;
      outline: none;
      cursor: pointer;

      img {
        margin-top: 0.5rem;
        width: 120%;
      }
    }
  }

  .titulo {
    color: #fff !important;
    font-weight: bold;

    background-color: #600F12 !important;

    span {
      color: #fff;
    }
  }

  .campo {
    color: #600F12;
  }

  p {
    font-size: 1.1rem;
  }


  .separadorTitulo {
    width: 60rem;
    h5 {
      background-color: #600F12;
      text-align: center;
      color: #fff;
      padding: 0.5rem;
    }
  }

  .separador {
    img {
      width: 80%;
      float: right !important;
    }
  }

}

.ListagemContainer {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;

  .topo {
    background-color: #fff;
    text-align: center;
    height: 8rem;
    width: 100%;

    .titulo{
      padding-top: 3rem;
      color: #600F12;
      font-weight: bold;
      font-size: 3rem !important;
    }
  
  }

  .itens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 5rem;
    width: 100%;
  }

 
}
