.dropdown-menu {
  background-color: #e0e0e0 !important;
}

.btn {
  background-color: #600F12 !important;
  border: none !important;
  font-size: 1.5rem !important;
  color: #fff !important;
  margin-top: 6rem !important;

}

.btn:active {
  border: none !important;
  color: pink !important;
  box-shadow: 0 0 0 0.25rem rgb(255 12 255 / 50%) !important;
}


.btn:hover {
  color: #AC8889 !important;
}

.btn:focus {
  box-shadow: none !important;
}

.ImageUploader{
  color: pink;
}

.chooseFileButton{
  background-color: #AC8889 !important;
}