.headerContainer {
  width: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  background-color: #600F12;
  height: 100vh;
  color: #fff;

  h3{
    color: #fff;
    padding-top: 3rem;
    cursor: pointer;
  }
  .itemMenu {
    color: #434343;
    font-weight: bold;

    &:hover {
      color: #B22A36;
      font-size: 1rem;
    }
  }


  
}
